DATABASE_URL=postgres://postgres@52.184.86.78:5433/authdb?sslmode=disable
# DATABASE_URL=postgres://authdb:postgres@localhost:5433/authdb?sslmode=disable

PORT=8081
PUBLIC_KEY_PATH=public.pem

REDIS_ADDR=52.184.86.78:6379
# REDIS_ADDR=localhost:6379

KAFKA_BROKER=52.184.86.78:9092
KAFKA_TOPIC=ticket.events
# KAFKA_BROKER=localhost:9092